<div class="text-center">
<img src="assets/svg/passmeLogoDark.svg" alt="logo">
</div>
<!--<h1 id="title" class="title">Sign In</h1>-->


<form (ngSubmit)="login()" [formGroup]="signInForm" aria-labelledby="title">

  <div class="form-control-group">
    <label class="label" for="input-email">Email address:</label>
    <input nbInput
           formControlName="email"
           id="input-email"
           name="email"
           placeholder="Email address"
           fullWidth
    >
    <ng-container *ngIf="signInForm.controls.email.invalid && signInForm.controls.email.touched">
      <p class="error-message" *ngIf="signInForm.controls.email.errors?.required">
        Email is required!
      </p>
      <p class="error-message" *ngIf="signInForm.controls.email.errors?.email">
        Email should be the real one!
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-password">Password:</label>
    <input nbInput
           formControlName="password"
           type="password"
           id="input-password"
           name="password"
           placeholder="Password"
           fullWidth
           [attr.aria-invalid]="signInForm.controls.password.errors && signInForm.controls.password.touched ? true : null"
    >
    <ng-container *ngIf="signInForm.controls.password.invalid && signInForm.controls.password.touched">
      <p class="error-message" *ngIf="signInForm.controls.password.errors?.required">
        Password is required!
      </p>
      <p class="error-message" *ngIf="signInForm.controls.password.errors?.minlength">
        Password should contains at least 8 characters
      </p>
    </ng-container>
  </div>

  <div class="form-control-group accept-group">
    <nb-checkbox name="rememberMe">Remember me</nb-checkbox>
    <a class="forgot-password" routerLink="../request-password">Forgot Password?</a>
  </div>

  <button nbButton
          fullWidth
          status="success"
          [disabled]="signInForm.invalid"
         >
    Sign In
  </button>
</form>

<section class="another-action" aria-label="Register">
  Don't have an account? <a class="text-link" routerLink="../register">Sign Up</a>
</section>
