<h1 id="title" class="title">Register</h1>

<form (ngSubmit)="signUp()" [formGroup]="signupForm"  aria-labelledby="title">

  <div class="form-control-group">
    <label class="label" for="input-email">Email address:</label>
    <input nbInput
           formControlName="email"
           id="input-email"
           name="email"
           placeholder="Email address"
           fullWidth
      >
    <ng-container *ngIf="signupForm.controls.email.invalid && signupForm.controls.email.touched">
      <p class="error-message" *ngIf="signupForm.controls.email.errors?.required">
        Email is required!
      </p>
      <p class="error-message" *ngIf="signupForm.controls.email.errors?.email">
        Email should be the real one!
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-password">Password:</label>
    <input nbInput
           formControlName="password"
           type="password"
           id="input-password"
           name="password"
           placeholder="Password"
           fullWidth
           [attr.aria-invalid]="signupForm.controls.password.errors && signupForm.controls.password.touched ? true : null"
    >
    <ng-container *ngIf="signupForm.controls.password.invalid && signupForm.controls.password.touched">
      <p class="error-message" *ngIf="signupForm.controls.password.errors?.required">
        Password is required!
      </p>
      <p class="error-message" *ngIf="signupForm.controls.password.errors?.minlength">
        Password should contains at least 8 characters
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-re-password">Repeat password:</label>
    <input nbInput
           formControlName="confirmPassword"
           type="password"
           id="input-re-password"
           name="rePass"
           placeholder="Confirm Password"
           fullWidth
           [attr.aria-invalid]="signupForm.controls.confirmPassword.errors && signupForm.controls.confirmPassword.touched ? true : null">
    <ng-container *ngIf="signupForm.controls.confirmPassword.invalid && signupForm.controls.confirmPassword.touched">
      <p class="error-message" *ngIf="signupForm.controls.password.errors?.required">
        Password confirmation is required!
      </p>
      <p class="error-message" *ngIf="signupForm.controls.confirmPassword.errors?.confirmedValidator">
        Password does not match the confirm password.
      </p>
      <p class="error-message" *ngIf="signupForm.controls.confirmPassword.errors?.minlength">
        Password should contains at least 8 characters
      </p>
    </ng-container>
  </div>

  <div class="form-control-group accept-group">

    <nb-checkbox name="terms" formControlName="terms" areia="area">
      Agree to <a routerLink="/" target="_blank"><strong>Terms & Conditions</strong></a>
    </nb-checkbox>
  </div>

  <button nbButton
          fullWidth
          status="success"
          [disabled]="signupForm.invalid || signupForm.controls.terms?.value == false"
          [class.btn-pulse]="submitted">
    Register
  </button>
</form>



<section class="another-action" aria-label="Sign in">
  Already have an account? <a class="text-link" routerLink="../login">Log in</a>
</section>
